{% extends "account/account_base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}
{% load bootstrap %}

{% block head_title %} Login {% endblock %}

{% block scripts %}

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '799731823519921',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}

{% block content %}

    <div class="container">

        {% get_providers as socialaccount_providers %}

        <h2 class="form-signin-heading" align="center">Please login</h2>

        {% if socialaccount_providers %}
            <div class="socialaccount_ballot">

                <form class="form-signin" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}

                    {{ form|bootstrap }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <a class="button secondaryAction"
                       href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

                </form>

                <div class="form-signin">
                    {% for provider in socialaccount_providers %}
                        <button class="btn btn-lg btn-default btn-block"
                                onclick="location.href='{% provider_login_url provider.id process=" login " %}'">

                            {% if provider.name == "GitHub" %}
                                <i class="fa fa-github" aria-hidden="true"></i> Log in with {{ provider.name }}
                            {% elif provider.name == "Facebook" %}
                                <i class="fa fa-facebook" aria-hidden="true"></i> Log in with {{ provider.name }}
                            {% elif provider.name == "Google" %}
                                <i class="fa fa-google" aria-hidden="true"></i> Log in with {{ provider.name }}
                            {% endif %}
                        </button>
                    {% endfor %}


                    <div class="login-or" align="center">{% trans 'or' %}</div>
                    <button class="btn btn-lg btn-success btn-block"
                            onclick="location.href='/accounts/signup/'">
                        Register
                    </button>
                </div>

            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}

    </div> <!-- /container -->

{% endblock %}
