{% extends 'notes/base_materialize.html' %}

{% block content %}

    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'notes:notes-list' %}">All Notes</a></li>
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">

        <div class="col s3">
            <!-- Grey navigation panel -->
        </div>

        <div class="col s9">
            <form action="{% url 'notes:add_note' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Add note</button>
            </form>
        </div>
    </div>

{% endblock %}