{% extends 'notes/bootstrap_base.html' %}
{% load widget_tweaks %}

{% block content %}

    <form action="{% url 'notes:add_note' %}" method="post">
        {% csrf_token %}
        {{ form.title|add_class:"form-control"|attr:"placeholder:Title" }}
        <br>
        {{ form.text|add_class:"form-control"|attr:"placeholder:Text" }}
        <br>
        {{ form.tags|add_class:"form-control"|attr:"placeholder:Tags (separeted by comma)" }}
        <br>
        <button type="submit" class="btn btn-success">Save</button>
    </form>

{% endblock %}