{% extends 'notes/base_navigation.html' %}

{% block content %}

            {% for note in object_list %}
                <div class="row" id="{{ note.id }}">
                    <div class="col s12">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">
                                <span class="card-title">{{ note.title }}</span>
                                <p>{{ note.text }}</p>
                            </div>
                            <div class="card-action">
                                <a href="{% url 'notes:note-detail' pk=note.id %}">More</a>
                                <a href="{% url 'api-notes-destroy' pk=note.id %}" name="{{ note.id }}" id="note-del">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>No notes yet.</p>
            {% endfor %}

{% endblock %}