{% extends 'notes/base_materialize.html' %}

{% block content %}

    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'notes:notes-list' %}">All Notes</a></li>
                <li><a href="{% url 'notes:edit_note' pk=object.id %}">Edit</a></li>
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">

        <div class="col s3">
            <!-- Grey navigation panel -->
            <div class="card cyan darken-4">
                <div class="card-action">
                    <a href="{% url 'notes:add_note' %}">Add note</a>
                </div>
                <div class="card-action">
                    <a href="#">Tags</a>
                </div>
            </div>

        </div>

        <div class="col s9">
            <!-- Teal page content  -->

            <h1>{{ object.title }}</h1>
            <p>{{ object.text }}</p>
            <p>Published: {{ object.date }}</p>
            <p>by: {{ object.user }}</p>
        </div>
    </div>
{% endblock %}