{% extends 'notes/base_materialize.html' %}

{% block content %}

    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{% url 'notes:notes-list' %}">All Notes</a></li>
                <li><a href="{% url 'users:logout' %}">Logout</a></li>
            </ul>
        </div>
    </nav>

    <form action="" method="post">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update"/>
    </form>
{% endblock %}
