{% extends 'notes/bootstrap_base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block content %}

    <form action="" method="post">{% csrf_token %}
        {{ form.title|add_class:"form-control"|attr:"placeholder:Title" }}
        <br>
        {{ form.text|add_class:"form-control" }}
        <br>
        {{ form.tags|add_class:"form-control" }}
        <br>
        <input type="submit" class="btn btn-primary" value="Update"/>
        <a href="{% url 'notes:note-detail' pk=object.id %}" class="btn btn-warning">Cancel</a>
    </form>

{% endblock %}
